<header>
     <div class="logo">
       <a href="#">OOPCoders <i class="fas fa-angle-right"></i></a>
     </div>
     <div class="search-outer">
       <form class="search" action="" method="post">
         <input type="search" name="search" id="search" placeholder="Search">
        <button type="button" name="button" id="header-search-button"><i class="fas fa-search"></i></button>
       </form>
     </div>
     <div class="profile-container">
       <a id="profile">
        <span class="user-icon"><i class="far fa-user"></i></span> <span> Sign In</span>
       </a>
     </div>
</header>
