<header id="main-header">
     <div class="logo">
       <a href="{{path_for('home')}}">OOPCoders <i class="fas fa-angle-right"></i></a>
     </div>
     <div class="search-outer">
       <form class="search" action="{{ base_url() }}/searchp" method="post">
         <input type="search" name="searchp" id="search" placeholder="Search Videos" onkeydown="searchq()" autocomplete="off">
        <button type="submit" name="button" id="header-search-button"><i class="fas fa-search"></i></button>
       </form>
       <div class="search_results" style="display: none">
         <ul>
          
         </ul>
       </div>
     </div>
     {% if auth.check %}
     <div class="profile-container">
       <a id="profile">
        <span class="user-icon"><i class="far fa-user"></i></span> <span>{{ auth.user.name }}</span>
       </a>
     </div>
     {% else %}
     <div class="profile-container">
       <a id="profile">
        <span class="user-icon"><i class="far fa-user"></i></span> <span> Sign In</span>
       </a>
     </div>
     {% endif %}
</header>
<div id="output">

</div>
