<!-- Login Slider Section -->
<div class="login-slide-outer" style="width :0px; position:fixed; right:0px; top:60px; border: solid 1px #ccc; text-align: center; background-color:#fff;">

  <div class="close">
    <span><i class="fas fa-plus"></i></span>
  </div>
  <div class="logout-form">
    <a href="{{path_for('changepassword')}}">Change Password</a>
    <a href="{{path_for('signout')}}">Logout</a>
 </div>
