  <!-- Login Slider Section -->
<div class="login-slide-outer" style="width :0px; position: absolute; right:0px; top:60px; border: solid 1px #ccc; text-align: center; background-color:#fff;">

    <div class="close">
      <span><i class="fas fa-plus"></i></span>
    </div>

    <div class="login-form">
      <form action="{{path_for('signin')}}" method="post">
          <div class="profile-icon-outer">
            <i class="far fa-user"></i>
          </div>

          <input type="text" name="email" value="" placeholder="Email" id="email" class="login-inputs" ><br>
          <input type="password" name="password" value="" placeholder="Password" id="password" class="login-inputs" ><br><br>
          <label for="rememberMe" class="rememberMe">Remember Me </label><input type="checkbox" name="rememberMe" value="" class="rememberMe"><br>
          <!--
          <input type="submit" value="Login" id="submit-button">
        -->
          <div class="form-button login-button">
            <button type="submit">Sign In</button>
          </div>
           {{ csrf.field | raw }}
     </form>
    </div>

    <div class="forgot-password">
      <a href="forgot-password.php">Forgot Password</a>
      <a href="{{path_for('signup')}}">Register New Account</a>
    </div>
</div>
