/*
logo color : #6e9c40;
color : #888; grey
color : #555; black;
border-left: solid 1px #d7d7d7;
background-color:#fff;
background: #1b1d21;
font-family: Helvetica,Arial,sans-serif;
    background: #f5f5f5;
*/

*{
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 100;
}
input{
  border:none;
}
body{
  background-color: #f5f5f5;
  line-height: 1;
  overflow-x: hidden;
}
.container{
  padding-top:90px;
}
/* ++++++++++++
    Header
+++++++++++++*/
#main-header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10001;
  width: auto;
  height: 76px;
  border-bottom: solid 1px #d7d7d7;
  background: #fff;
  padding-left:30px;
  padding-right:30px;
}
#main-header .logo{
  width:25%;
  display: inline-block;
  padding-top: 10px;
}
#main-header .logo a{
  font-size: 1.3em;
  color: #6e9c40;
  padding-top:10px;
  padding-bottom:10px;
  display: inline-block;
  text-decoration: none;
}
#main-header .logo a:hover{
  color:#888;
}
#main-header .logo i{
  padding-left: 10px;
  font-size: 100;
  font-size:25px;
}
#main-header .search-outer{
  width:58%;
  display: inline-block;
}
#main-header .search-outer form{
  width:100%;
}
#main-header .search-outer form button{
  border:none;
  background-color: #fff;
  font-size: 1.5em;
  font-weight: 100;
  color:#888;
}
#main-header .search-outer form input{
  height: 40px;
  font-size: 1.2em;
  width:80%;
  color:#888;
  border-left: solid 1px #d7d7d7;
  text-indent: 10px;
}
#main-header .profile-container{
  width: 15%;
  display: inline-block;
  text-align:right;
  padding-top:20px;
  border-left: solid 1px #d7d7d7;
  height: 56px;
}
#main-header .profile-container span{
  margin-right: 10px;
}
#main-header .profile-container a{
  text-decoration: none;
  color:#888;
}
#main-header .profile-container a:hover{
  color: #6e9c40;
}
.user-icon{
  font-size: 1.8em;
}
/* ++++++++++++
  Home page login form
+++++++++++++*/

.profile-icon-outer{
  font-size: 100px;
  text-align:center;
  background-color:#ccc;
  border-radius: 100%;
  padding:20px;
  width:145px;
  margin-left: 75px;
  margin-top: 20px;
  color:rgba(255,255,255,1);
}
.login-inputs{
  margin-top:20px;
  margin-bottom:10px;
  width:100%;
  height: 40px;
  font-size: 20px;
  border: solid 1px #d7d7d7;
  text-indent: 1em;
}
 #submit-button{
  width:100%;
  font-size: 20px;
  padding-top:5px;
  padding-bottom:5px;
}
.login-slide-outer{
  z-index: 101;
}
.login-slide-outer form{
  width: 70%;
  margin-left:15%;
}
.rememberMe{
  text-align: left;
  color:green;
  margin-bottom:20px;
}
.forgot-password{
  margin-top:40px;
  margin-bottom:30px;
}
.forgot-password a{
  margin-right:10px;
}
.close{
  color: #6e9c40;
  text-align:left;
  margin-left:20px;
  margin-top:20px;
  font-size:30px;
}
.close span:hover{
  color:#555;
}
/* ++++++++++++
  Home page slider
+++++++++++++*/
.light-slider-outer{
  width: 95%;
  margin: auto;
}
.light-slider-outer>div{
  margin-top: 20px;
}
.light-slider-outer h3{
  color: #555;
}
.light-slider h4{
  fort-size: .6em;
  margin-top: 0px;
}
.light-slider{
	list-style: none outside none;
	padding-left: 0;
  margin: 0px;
  height: 220px !important;
 }
 .light-slider li{
   position: relative;
   height: 220px;

 }
 .light-slider>li>div{
   padding:10px;
   background-color: #fff;
   height: 100%;
 }
 .publish-views{
   position: absolute;
   bottom: 0px;
 }
 .publish-views p{
   font-size: .9em;
   color: #888;
   margin-bottom:1px;
   margin-top:2px;
 }
 .light-slider li figure{
   width:100%;
   margin: auto;
 }
 .light-slider li figure a{
   position: relative;
   width:100%;
   display: block;
   height: 110.359px;
   background-repeat: no-repeat;
   background-size: auto 100%;
 }
 .light-slider li figure img{
   width:100%;
 }
 .background span{
   display: block;
   position: absolute;
   color:rgba(255,255,255,0);
   background-color: rgba(255,255,255,0);
   -webkit-transition: background-color 1s, color 1s; /* Safari */
    transition: background-color 1s, color 1s;
   top: 0px;
   left:0px;
   right:0px;
   bottom:0px;
   font-size: 4em;
   display: block;
   margin: auto;
   text-align: center;
   padding-top:20px;
 }
 .background span:hover{
   color:rgba(255,255,255,.9);
   background-color: rgba(255,255,255,.5);
 }
 .background p{
   background-color:#000;
   color:#fff;
   padding:1px 3px;
   width: 50px;
   text-align: center;
   margin-left: 5px;
 }
 /* +++++++++++++++++++++++++++++=====================================================================
   video page
 +++++++++++++++++++++++++++++++=====================================================================*/
 .display-outer{
   width: 90%;
   height: 550px;
   margin: auto;
   position: relative;
 }
 .video-container{
   position: absolute;
   display: inline-block;
   width: 60%;
   height: 520px;
 }
 .video-container header{
   background-color: #fff;
   padding: 10px 0px;
   margin-top: 10px;
   border: solid 1px #d7d7d7;
 }
 .video-container header h2{
   font-size: 1.8em;
   margin-top: 0px;
   margin-bottom: 0px;
 }
 .video-container header p{
   color : #888;
   display: inline-block;
   width:50%;
 }
 .video-outer{
   width: 100%;
   margin-top: 10px;
   background-color:#fff;
 }
 .video-icons{
   width: 48%;
   display: inline-block;
   text-align: right;
 }
 .video-icons a{
   color: #888;
   font-size: 1.5em;
 }
 .video-icons a:hover{
   color: #6e9c40;
 }
 /* ++++++++++++
   video page vertical slider
 +++++++++++++*/
 .vertical-light-slider-outer{
   position: absolute;
   right: 0px;
   top:0px;
    width : 39%;
 }
.vertical-light-slider li{
  padding-top:10px;
  padding-bottom:10px;
  position: relative;
}
.vertical-light-slider li figure{
  position: absolute;
  left: 0px;
  display: inline-block;
  width:100%;
  margin: auto;
}
.vertical-light-slider li figure a{
  display: inline-block;
  border: solid 1px #f5f5f5;
  width:50%;
  display: block;
  height: 110.359px;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.content{
  position: absolute;
  right: 10px;
  left: 250px;
  bottom: -20px;
  top:10px;
  display: inline-block;
  height: 110px;
}
.content h4{
  margin-top: 2px;
}
.content div{
  position: absolute;
  bottom: 0px;
  width:100%;
}
.content p{
  margin-top:0px;
  margin-bottom:2px;
  font-size: .9em;
  color:#555;
}
.background-vertical span{
  display: block;
  position: absolute;
  color:rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
  -webkit-transition: background-color 1s, color 1s; /* Safari */
   transition: background-color 1s, color 1s;
  top: 0px;
  left:0px;
  right:50%;
  bottom:0px;
  font-size: 4em;
  display: block;
  margin: auto;
  text-align: center;
  padding-top:20px;
}
.background-vertical span:hover{
  color:rgba(255,255,255,.9);
  background-color: rgba(255,255,255,.5);
}
.background-vertical p{
  background-color:#000;
  color:#fff;
  padding:1px 3px;
  width: 50px;
  text-align: center;
  margin-left: 5px;
}
#filler{
  height: 200px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Comment Section
+++++++++++++*/
.comment-outer{
  width: 90%;
  margin: auto;
  margin-top: 10px;
  background: #fff;
  border: solid 1px #d7d7d7;
}
.comment{
  background-color: #fff;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 60px;
}
.comment h3{
  color:#555;
  padding-left: 10px;
  border-bottom: solid 1px #d7d7d7;
}
.comment form{
  margin:auto;
}
.comment form input{
  float: right;
  margin-right: 10%;
  margin-top: 10px;
  padding:10px;
  background-color: #6e9c40;
  color: #fff;
}
.comment form input:hover{
  background-color: #555;
}
.disabled{
  background-color: green;
  opacity: 0.5;
}
.comment textarea{
  background-color: #888;
  width: 80%;
  margin-left: 10%;
}
.comments{
  margin-top:40px;
  background-color: #fff;
}
.comments h3{

}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Description Section
+++++++++++++*/
.description-outer{
  width: 90%;
  margin: auto;
  position: relative;
}
.description-outer>div{
  background-color: #fff;
  border: solid 1px #d7d7d7;
  display: inline-block;
}
.description-outer div h3{
  color:#555;
  padding-left: 10px;
  border-bottom: solid 1px #d7d7d7;
}
.description-box{
  width: 60%;
}
.description-box p{
 padding:10px;
}
.helpful-links{
   border: none;
}
.helpful-links p{
 margin-top: 0px;
 margin-bottom: 0px;
 padding:5px;
}

/* ++++++++++++
  Sign Up Section
+++++++++++++*/
.signup h2{
  color:#6e9c40;
  text-align: center;
}
.signup form{
  border-top: solid 1px #d7d7d7;
  width: 50%;
  margin:auto;
  padding:20px;
}
.input-container input{
  width:84%;
  display: inline-block;
  height: 30px;
  text-indent: 1em;
  font-size: 1.1em;
  color: #555;
}
.input-container label{
  width: 15%;
  margin-top:20px;
  display: inline-block;
  color:#555;
  padding:5px 0px;
}
.form-button{
  padding: auto;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}
.form-button button{
  border:none;
  background-color:#6e9c40;
  padding: 10px 60px;
  color:#fff;
  font-size: 1.2em;
}
.form-button button:hover{
  background-color: #555;
  cursor: pointer;
}
.error-messages{
  padding-top:5px;
  padding-left:18%;
  color:#bcb001;
}
.error-input{
  border-top: solid 2px #888;
  border-left: solid 2px #888;
  border-bottom: solid 1px #bcb001;
  border-right: solid 1px #bcb001;
}
/* ++++++++++++
  Sign In Section
+++++++++++++*/
.checkbox-container{
  text-align: center;
  padding-top:10px;
}
.login-button{
  margin-top:0px;
}
.login-forgot{
  margin-top:0px;
  text-align: center;
}
/* ++++++++++++
  Flash messages section
+++++++++++++*/
.flash-outer{
  width: 50%;
  margin:auto;
  padding: 1px 10px;
  color:#fff;
}
.flash-warning{
    background-color: #bcb001;
}
.flash-success{
  background-color:#6e9c40;
}
