{% extends "templates/app.twig" %}

{% block content %}

<section class="light-slider-outer">
  <h3>Wordpress</h3>

  <div>
    <ul id="light-slider">
      <li>
        <figure>
          <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
            <div class="background">
              <span><i class="far fa-play-circle"></i></span>
              <p>2:30</p>
            </div>
          </a>
        </figure>
        <div>
          <h4>First Slide this thei tei thies tthis tehk</h4>
          <p>Published : 12/12/2012</p>
          <p>97 Views</p>
        </div>
      </li>
      <li>
        <figure>
          <a href="#" style="background-image: url('images/thumbnails/green-200.jpg')">
            <div class="background">
              <span><i class="far fa-play-circle"></i></span>
              <p>2:30</p>
            </div>
          </a>
        </figure>
        <div>
          <h4>First Slide this thei tei thies tthis tehk</h4>
          <p>Published : 12/12/2012</p>
          <p>97 Views</p>
        </div>
      </li>
      <li>
        <figure>
          <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
            <div class="background">
              <span><i class="far fa-play-circle"></i></span>
              <p>2:30</p>
            </div>
          </a>
        </figure>
        <div>
          <h4>First Slide this thei tei thies tthis tehk</h4>
          <p>Published : 12/12/2012</p>
          <p>97 Views</p>
        </div>
      </li>
      <li>
        <figure>
          <img src="images/thumbnails/green-200.jpg" alt="Green Background">
        </figure>
        <div>
          <h3>First Slide</h3>
          <p>Lorem ipsum Cupidatat quis pariatur anim.</p>
        </div>
      </li>
      <li>
        <figure>
          <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
            <div class="background">
              <span><i class="far fa-play-circle"></i></span>
              <p>2:30</p>
            </div>
          </a>
        </figure>
        <div>
          <h4>First Slide this thei tei thies tthis tehk</h4>
          <p>Published : 12/12/2012</p>
          <p>97 Views</p>
        </div>
      </li>
      <li>
        <figure>
          <img src="images/thumbnails/green-200.jpg" alt="Green Background">
        </figure>
        <div>
          <h3>First Slide</h3>
          <p>Lorem ipsum Cupidatat quis pariatur anim.</p>
        </div>
      </li>
      <li>
        <figure>
          <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
            <div class="background">
              <span><i class="far fa-play-circle"></i></span>
              <p>2:30</p>
            </div>
          </a>
        </figure>
        <div>
          <h4>First Slide this thei tei thies tthis tehk</h4>
          <p>Published : 12/12/2012</p>
          <p>97 Views</p>
        </div>
      </li>
      <li>
        <figure>
          <img src="images/thumbnails/green-200.jpg" alt="Green Background">
        </figure>
        <div>
          <h3>First Slide</h3>
          <p>Lorem ipsum Cupidatat quis pariatur anim.</p>
        </div>
      </li>
      <li>
        <figure>
          <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
            <div class="background">
              <span><i class="far fa-play-circle"></i></span>
              <p>2:30</p>
            </div>
          </a>
        </figure>
        <div>
          <h4>First Slide this thei tei thies tthis tehk</h4>
          <p>Published : 12/12/2012</p>
          <p>97 Views</p>
        </div>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
