{% extends "templates/app.twig" %}

{% block content %}
  <div class="display-outer">
    <section class="video-container">
         <header>
           <h2>This is the title of the video.</h2>
           <p>Published : March 9 2017 - - 55 Views</p>
           <div class="video-icons">
             <a href="#"><i class="fab fa-github-alt"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </header>
         <div class="video-outer">
           <video width="100%" controls >
             <source src="images/videos/intro.MP4" type="video/mp4">
             Your browser does not support the video tag.
            </video>
         </div>
    </section>
    <section class="vertical-light-slider-outer">
      <div>
        <ul class="vertical-light-slider">
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk First Slide this thei tei </h4>
              <div>
                <p>Published : 12/12/2012</p>
                <p>97 Views</p>
              </div>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/green-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/green-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" style="background-image: url('images/thumbnails/blue-200.jpg')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>2:30</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>First Slide this thei tei thies tthis tehk</h4>
              <p>Published : 12/12/2012</p>
              <p>97 Views</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>


{% endblock %}
